{% extends "base.html" %}

{% block status %}
<h2>SensorPi</h2>
<table class="table">
   <thead>
     <tr>
       <th scope="col">Service</th>
       <th scope="col">Status</th>
       <th scope="col">Action</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Sensor</td>
       <td>Running</td>
       <td>
         <form action="/restart/" method="post">
         <button class="btn btn-dark" name="Restart" type="submit">Restart</button>
     </form></td>
     </tr>
     <tr>
       <td>Logger</td>
       <td>Running</td>
       <td>Restart</td>
     </tr>
     <tr>
      <td>Forwarder</td>
      <td>Running</td>
      <td>Restart</td>
    </tr>
   </tbody>
 </table>
 <h2>System</h2>
 <table class="table">
   <thead>
     <tr>
       <th scope="col">Service</th>
       <th scope="col">Status</th>
       <th scope="col">Action</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>MQTT</td>
       <td>Running</td>
       <td>Restart</td>
     </tr>
   </tbody>
 </table>

{% endblock %}
