<!DOCTYPE html>
<html lang="en">
   <head>
	  <title>SensorPi</title>
	  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // listen for mqtt_message events
    // when a new message is received, log and append the data to the page
    socket.on('mqtt_message', function(data) {
      console.log(data);
      var mqttData = JSON.parse(data['payload']);

      if (mqttData.status == 'True') {
        $('#subscribe_messages').attr('class', 'alert alert-success');
        
        $('#subscribe_messages').text(mqttData.status);
      }
      else {
        $('#subscribe_messages').attr('class', 'alert alert-danger');
        $('#subscribe_messages').text(mqttData.status);
      }
        
    })
  });
</script>
<body>
  <table class="table">
    <h1>Status</h1>
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sensor</td>
          <td><span class="badge badge-success" id=subscribe_messages></span></td>
          <td>
            <form action="/restart/" method="post">
            <button class="btn btn-dark" name="Restart" type="submit">Restart</button>
        </form></td>
        </tr>
        <tr>
          <td>Logger</td>
          <td>Running</td>
          <td>Restart</td>
        </tr>
        <tr>
         <td>Forwarder</td>
         <td>Running</td>
         <td>Restart</td>
       </tr>
      </tbody>
    </table>
    <h2>System</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MQTT</td>
          <td>Running</td>
          <td>Restart</td>
        </tr>
      </tbody>
    </table>
</body>